<h1>メッセージ 編集</h1>
<%= form_for @message, url: message_path(@message.id), html: { method: :PATCH} do |f| %>
  <p>タイトル <%= f.text_field :name %></p>
  <p>内容 <%= f.text_field :age %></p>
  <input type="submit" value="送信">
<% end %>
<%= link_to "一覧画面へ", messages_path %>