<h1>メッセージ 作成</h1>
<%= form_for @task, url: "/tasks", html: { method: :post} do |f| %>
  <p>タイトル <%= f.text_field :title %></p>
  <p>内容 <%= f.text_field :content %></p>
  <input type="submit" value="送信">
<% end %>
<%= link_to "一覧画面へ", tasks_path %>